<h2 align= "center"> Category Name: <%= @category.name %> </h2>
<div class="well col-xs-8 col-xs-offset-2">
  <hr>

  <div class="row">
    <span class="badge"> <%= link_to "Edit Category Name", edit_category_path(@category)%> </span>
  </div>

  <div class="article-actions">
    <%= link_to "All Categories", categories_path, class: "btn btn-xs btn-success"%>
    <%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete Category", category_path(@category),
                                  class: "btn btn-xs btn-danger", method: :delete,
                                  data: {confirm: "Are you sure you want to delete the category?"}%>
  </div>
</div>
